{% load staticfiles %}
{% load getattr %}

{% block ajaxupdatecontent %}


<div id="updatemod" class="modal fade" role="dialog" tabindex="-1" data-focus-on="input:first">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Shotname : {{ details }} ---------- Department:  {{ showdeptname.show_code }}</h4>
         </div>
         <div class="modal-body" style="width: 540px; height: 440px;">

             <form method='POST' enctype="multipart/form-data" >{% csrf_token %}
            <div class="container-fluid">
            <div class="container-fluid">
            <div class="col-sm-6">
                <!--
        <p><label>StatusCode :</label></p>
        <input class="TextField" id="id_title" maxlength="40" name="title" type="text" style="width: 900px;" /> -->
        <div class="form-group">
  <label for="sel1">StatusCode:</label>
  <select class="form-control" id="sel1" name="selectedcode" style="width: 400px;">
    {% for eachcode in codes %}

        <option value="{{ eachcode.idstatus_codes }}">{{ eachcode }}</option>

    {% endfor %}
  </select>
</div>

        <p><label>Notes :</label></p>
        <textarea id="id_takenotes" name="notes" style="margin: 0px 0px 10px; width: 400px; height: 200px;"></textarea>
        <!--
            <p><label>File :</label></p>
    <input type="file" name="fileToUpload" id="fileToUpload">
    -->
    </div>
    </div>
<input type='submit' value='Submit' id="buttons" style="margin-left: 420px; margin-top: auto;" />

    </div>
</form>

         </div>
         <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
         </div>
         </div>
         </div>

    <div id="result">

    </div>

<script>


var frm = $('#updatemod');
    frm.submit(function () {
        var selectedcode = $("#sel1").attr("value");
        var notes = $("#id_takenotes").val();
        var getval= {{ details.idprojectstatus }};
        var shot = "{{ details }}";
        var dept = "{{ deptname }}";
        var showdeptname = "{{ showdeptname }}";
        senddata={'code':selectedcode, 'notes':notes, 'shotname':shot, 'dept':dept, showdeptname:'showdeptname' };
        upurl=$(location).attr('origin').concat('/update/', getval,'/');
        $.ajax({
            url : upurl,
            type : "POST",
            dataType: "json",
            data : {
                client_response : JSON.stringify(senddata),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                //alert(data);
                $('#updatemod').modal("hide");
            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert('Something went wrong!');
            }
        });
        return false;
    });


</script>


{% endblock %}